<p id="notice"><%= notice %></p>

<h1 class="centered">Submissions</h1>

<div>
  <%= link_to 'New Submission', new_submission_path, class: "btn btn-primary creation-button" %>
</div>

<div class="submissions-area">
  <% @submissions.each do |submission| %>
    <div class="submission">
      <div class="title"><%= submission.challenge.name %></div>
      <div><%= submission.user.name %></div>
      <div><%= image_tag(submission.content) %></div>
      <div><%= submission.date_completed %></div>
      <div class="show-edit-destroy">
        <%= link_to 'Show', submission %>
        <%= link_to 'Edit', edit_submission_path(submission) %>
        <%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
<div>


<br>
