<p id="notice"><%= notice %></p>

<h1 class="centered">Submissions</h1>

<div>
  <%= link_to 'New Submission', new_submission_path(user_id: current_user.id), class: "btn btn-primary creation-button" %>
</div>

<div class="submissions-area footer-padding">
  <% @submissions.each do |submission| %>
    <div class="submission">
      <div class="title"><%= submission.challenge.name %></div>
      <div><%= submission.user.name %></div>
      <div><%= image_tag(submission.content, size: "250x250")%></div>
      <div><%= submission.date_completed %></div>
      <% if current_user.role?(:admin) %>
        <div class="show-edit-destroy">
          <%= link_to 'Show', submission %>
          <%= link_to 'Edit', edit_submission_path(submission, user_id: submission.user_id) %>
          <%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  <% end %>
<div>


<br>
