<p id="notice"><%= notice %></p>

<p>
  <strong>Challenge:</strong>
  <%= @submission.challenge %>
</p>

<p>
  <strong>User:</strong>
  <%= @submission.user %>
</p>

<p>
  <strong>Date completed:</strong>
  <%= @submission.date_completed %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
