<p id="notice"><%= notice %></p>

<p>
  <strong>Challenge:</strong>
  <%= @submission.challenge.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @submission.user.name %>
</p>

<p>
  <%= image_tag(@submission.content, size: "450x450") %>
</p>

<p>
  <%= @submission.caption %>
</p>

<p>
  <strong>Date completed:</strong>
  <%= @submission.date_completed %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
